body {
    background-color: #eef;
}

header {
    position: relative; /* for absolute positioning of icon img element (below) */
    background-image: /*url(images/icon.png),*/ url(images/header.gif);
    background-repeat: no-repeat;
    background-position: /*56px center,*/ center;
    height: 60px;
    line-height: 60px;
    font-family: Arial, Helvetica, sans-serif; /* for correct alignment with the background image */
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0.4em auto;
    color: #0F0;
}

    header > img { /* icon */
        position: absolute;
        top: 6px;
        left: 6px;
    }

    header + p { /* subheader */
        color: #009;
        text-align: center;
        font-size: 21px;
        font-weight: bold;
        margin: 0;
    }

h1 {
    color: #009;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 0.8rem;
}

#main img {
    float: right;
    margin-left: 1em;
    margin-top: 1em;
}

a img {
    border-style: none;
    vertical-align: middle;
    text-decoration: none;
}

ul {
    list-style-image: url(images/pixbul1.gif)
}

/* Navigation panel */

nav {
    font-size: 0.9rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

    nav > ul {
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
        white-space: nowrap;
    }

        nav > ul > li {
            list-style-type: none;
            list-style-image: none;
            margin-bottom: 1em;
            background-color: #CCF;
            text-align: center;
        }

            nav > ul > li.selected {
                padding-right: 1.2em;
                padding-left: 0.2em;
                border-left: 1em solid #009;
            }

            nav > ul > li > a {
                text-decoration: none;
                color: black;
                display: block;
                padding-right: 1.2em;
                padding-left: 0.2em;
                border-left: 1em solid #CCF;
                transition: 0.5s 0.1s;
                /* Better to transition the opacity? */
            }

                nav > ul > li > a:hover,
                nav > ul > li > a:focus {
                    border-left-color: #66C;
                }

    nav ul li a:active, nav ul li a:link, nav ul li a:visited {
        color: black;
    }

    /* Download REDUCE from SourceForge */

    nav > a > p {
        margin: 1.5rem 0;
        border: thin solid black;
        border-radius: 5px;
        padding: 5px;
        font-weight: bold;
        text-align: center;
        background-color: white;
    }

    nav > a:active, nav > a:link, nav > a:visited {
        text-decoration: none;
        color: black;
    }

#google_translate_element {
    text-align: center;
    text-shadow: none;
}

/* TeX and LaTeX logo markup from http://tess.oconnor.cx/2007/08/tex-poshlet */
.tex sub, .latex sub, .latex sup {
    position: static; /* undo a change made by Bootstrap (Reboot) */
    text-transform: uppercase;
}

.tex, .latex, .tex sub, .latex sub {
    font-size: 1em;
}

.tex sub, .latex sub {
    vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}

    .latex sup {
        font-size: 0.85em;
        vertical-align: 0.15em;
        margin-left: -0.36em;
        margin-right: -0.15em;
    }
