../doc/misc/primer.tex
../doc/misc/primer.pdf
../doc/misc/sl.tex
../doc/misc/sl.bib
../doc/misc/sl.pdf
../csl/reduce.doc/BINARY-LICENSE.txt
../csl/reduce.doc/BSD-LICENSE.txt
../csl/reduce.doc/LGPL-2.1.txt
../doc/manual/redlogo.png
