
# /
/cslbuild
/pslbuild
/config.log
/rebuild.log
/csl-times
/psl-times
/csl-psl-times-comparison
/TAGS
/.gdb_history
/autom4te.cache
/m4

# /common-lisp/
/common-lisp/log.*
/common-lisp/fasl.*
/common-lisp/sl-on-cl.fas
/common-lisp/sl-on-cl.fasl
/common-lisp/trace.fas
/common-lisp/trace.fasl

# /csl/
/csl/autom4te.cache
/csl/compile
/csl/config.guess
/csl/config.sub
/csl/depcomp
/csl/install-sh
/csl/ltmain.sh
/csl/m4
/csl/missing

# /csl/cslbase/
/csl/cslbase/autom4te.cache

# /csl/fox/
/csl/fox/autom4te.cache
/csl/fox/compile
/csl/fox/ltmain.sh

# /csl/new-embedded/for-emscripten/
/csl/new-embedded/for-emscripten/*.oo
/csl/new-embedded/for-emscripten/*.ooo
/csl/new-embedded/for-emscripten/*.tmp
/csl/new-embedded/for-emscripten/*.log
