
# /
/cslbuild
/pslbuild
/config.log
/rebuild.log
/csl-times
/psl-times
/csl-psl-times-comparison
/TAGS
/.gdb_history
/autom4te.cache
/m4

# /common-lisp/
/common-lisp/log.*
/common-lisp/fasl.*
/common-lisp/sl-on-cl.fas
/common-lisp/sl-on-cl.fasl
/common-lisp/trace.fas
/common-lisp/trace.fasl
