# Disable GitHub linguist
*.sh linguist-vendored
*.csh linguist-vendored
*.bsh linguist-vendored
*.bash linguist-vendored
*.shell linguist-vendored
*.m4 linguist-vendored
Makefile linguist-vendored
*.am linguist-vendored
*.in linguist-vendored
bin/* linguist-vendored
buglist/* linguist-vendored
common-lisp/* linguist-vendored
contrib/* linguist-vendored
csl/* linguist-vendored
debianbuild/* linguist-vendored
doc/* linguist-vendored
generic/* linguist-vendored
jlisp/* linguist-vendored
jslisp/* linguist-vendored
libedit/* linguist-vendored
libraries/* linguist-vendored
macbuild/* linguist-vendored
MacPorts/* linguist-vendored
packages/* linguist-vendored
psl/* linguist-vendored
scripts/* linguist-vendored
vsl/* linguist-vendored
web/* linguist-vendored
winbuild64/* linguist-vendored
xmpl/* linguist-vendored
/* linguist-vendored
* linguist-vendored
*.sh linguist-vendored
*.m4 linguist-vendored
Makefile linguist-vendored
*.am linguist-vendored
*.in linguist-vendored
vsl/try-real.sh linguist-vendored
vsl/Macasm.sh linguist-vendored
vsl/try-bpsl.sh linguist-vendored
vsl/psl-mac.sh linguist-vendored
vsl/psl-win.sh linguist-vendored
vsl/reindent.sh linguist-vendored
vsl/Macmain.sh linguist-vendored
vsl/try.sh linguist-vendored
vsl/Winmain.sh linguist-vendored
vsl/AMDmain.sh linguist-vendored
vsl/try-Winfasl.sh linguist-vendored
vsl/psl-linux.sh linguist-vendored
vsl/Winfasl.sh linguist-vendored
vsl/Winasm.sh linguist-vendored
vsl/AMDasm.sh linguist-vendored
vsl/try-Macfasl.sh linguist-vendored
vsl/fetchfrom.sh linguist-vendored
vsl/psl-cygwin.sh linguist-vendored
vsl/Macfasl.sh linguist-vendored
vsl/AMDfasl.sh linguist-vendored
vsl/try-AMDasm.sh linguist-vendored
vsl/try-AMDfasl.sh linguist-vendored
vsl/main-dmain.sh linguist-vendored
generic/casefold/trycase.sh linguist-vendored
generic/redlogtest/pslmem64.sh linguist-vendored
generic/redlogtest/rltestall.sh linguist-vendored
generic/redlogtest/rltest.sh linguist-vendored
generic/redlogtest/rltestanalyze.sh linguist-vendored
generic/redlogtest/rltest1.sh linguist-vendored
generic/redlogtest/rltest-install.sh linguist-vendored
generic/libreduce/src/install-sh linguist-vendored
generic/redfront/src/install-sh linguist-vendored
generic/emacs/REDUCE/test-package-list.sh linguist-vendored
generic/emacs/REDUCE/remake-all-packages.sh linguist-vendored
generic/emacs/REDUCE/remake-one-package.sh linguist-vendored
generic/emacs/REDUCE/check-all-tests.sh linguist-vendored
generic/emacs/REDUCE/check-one-test.sh linguist-vendored
generic/emacs/REDUCE/test-one-package.sh linguist-vendored
generic/emacs/REDUCE/test-all-packages.sh linguist-vendored
generic/emacs/REDUCE/build-core-reduce.sh linguist-vendored
scripts/revision.sh linguist-vendored
scripts/runpsl.sh linguist-vendored
scripts/newlogs.sh linguist-vendored
scripts/pslmem64.sh linguist-vendored
scripts/filter.sh linguist-vendored
scripts/uninstall.sh linguist-vendored
scripts/check-cygwin.sh linguist-vendored
scripts/resetall.sh linguist-vendored
scripts/untab.sh linguist-vendored
scripts/checkdeps.sh linguist-vendored
scripts/caseclash.sh linguist-vendored
scripts/status.sh linguist-vendored
scripts/make-pristine.sh linguist-vendored
scripts/chop.sh linguist-vendored
scripts/run.sh linguist-vendored
scripts/mk-snapshots.sh linguist-vendored
scripts/ptestall.sh linguist-vendored
scripts/copy-to-xmpl.sh linguist-vendored
scripts/make-now.sh linguist-vendored
scripts/croncheck.sh linguist-vendored
scripts/makefox.sh linguist-vendored
scripts/pslver.sh linguist-vendored
scripts/reautogen.sh linguist-vendored
scripts/update-xmpl.sh linguist-vendored
scripts/croncheck1.sh linguist-vendored
scripts/scientific-linux-sanity-check.sh linguist-vendored
scripts/here.sh linguist-vendored
scripts/make.sh linguist-vendored
scripts/joption.sh linguist-vendored
scripts/stamp.sh linguist-vendored
scripts/flatpak/mk-reduce-flatpakbundle.sh linguist-vendored
scripts/ptest1.sh linguist-vendored
scripts/install-reduce.sh linguist-vendored
scripts/pslhere.sh linguist-vendored
scripts/findhost.sh linguist-vendored
scripts/clash.sh linguist-vendored
scripts/here0.sh linguist-vendored
scripts/check1.sh linguist-vendored
scripts/ubuntu-sanity-check.sh linguist-vendored
scripts/set-up-snapshot-builder.sh linguist-vendored
scripts/macports-setup.sh linguist-vendored
scripts/reject.sh linguist-vendored
scripts/test1.sh linguist-vendored
scripts/fedora-sanity-check.sh linguist-vendored
scripts/findos.sh linguist-vendored
scripts/reset.sh linguist-vendored
scripts/install-one-new-log.sh linguist-vendored
scripts/cslhere.sh linguist-vendored
scripts/testall.sh linguist-vendored
scripts/installlogs-sub.sh linguist-vendored
scripts/update_revision_history.sh linguist-vendored
scripts/makewx.sh linguist-vendored
scripts/install-new-logs.sh linguist-vendored
scripts/cleanup.sh linguist-vendored
scripts/commit.sh linguist-vendored
scripts/cygwin-sanity-check.sh linguist-vendored
scripts/nohost.sh linguist-vendored
scripts/installlogs.sh linguist-vendored
scripts/csl-sanity-check.sh linguist-vendored
scripts/gccdefs.sh linguist-vendored
psl/saveimage.sh linguist-vendored
psl/support-packages/xport-2.05/install-sh linguist-vendored
psl/make-psl.sh linguist-vendored
psl/make.sh linguist-vendored
psl/dist/kernel/ibmrs/syscall/mycflush linguist-vendored
psl/dist/kernel/ibmrs/syscall/usecflush linguist-vendored
psl/dist/kernel/macg4/syscall/mycflush linguist-vendored
psl/dist/kernel/macg4/syscall/usecflush linguist-vendored
psl/dist/distrib/make-pnk-lap.bsh linguist-vendored
psl/dist/distrib/pack.csh linguist-vendored
psl/dist/distrib/finish.csh linguist-vendored
psl/dist/distrib/unpack.csh linguist-vendored
psl/dist/distrib/warning.csh linguist-vendored
psl/dist/distrib/cleanup.csh linguist-vendored
psl/dist/distrib/newroot.csh linguist-vendored
psl/dist/distrib/chmakehost.csh linguist-vendored
psl/dist/distrib/make-lap.bsh linguist-vendored
psl/dist/distrib/chmakefile.csh linguist-vendored
psl/dist/manual/mkpdf.sh linguist-vendored
psl/dist/manual/mkhtml.sh linguist-vendored
psl/dist/util/nstruct.csh linguist-vendored
psl/dist/psl-names.bash linguist-vendored
psl/build.sh linguist-vendored
psl/make-mac-psl.sh linguist-vendored
psl/bootstrap.sh linguist-vendored
psl/coremodule.sh linguist-vendored
psl/noncoremodule.sh linguist-vendored
psl/reduce.img.sh linguist-vendored
psl/make-reduce.sh linguist-vendored
psl/xr/src/Install.sh linguist-vendored
psl/xr/Export.sh linguist-vendored
debianbuild/reduce/debian/runcsl.sh linguist-vendored
debianbuild/reduce/debian/runpsl.sh linguist-vendored
debianbuild/reduce/debian/runcsllisp.sh linguist-vendored
debianbuild/reduce/debian/runbootstrapreduce.sh linguist-vendored
packages/redlog/regressions/make.sh linguist-vendored
packages/cde/examples/rrr.sh linguist-vendored
packages/cde/examples/cde_test.sh linguist-vendored
packages/cde/examples_book/rrr.sh linguist-vendored
packages/cde/examples_book/cde_test.sh linguist-vendored
autogen.sh linguist-vendored
fetchreduce.sh linguist-vendored
common-lisp/build.sh linguist-vendored
common-lisp/bootstrap.sh linguist-vendored
jslisp/lib/google_web_toolkit/compile.sh linguist-vendored
jslisp/lib/google_web_toolkit/debug.sh linguist-vendored
libraries/original/fetchlibedit.sh linguist-vendored
libraries/libffi/src/sh/* linguist-vendored
libraries/libffi/msvcc.sh linguist-vendored
libraries/libffi/.travis/install.sh linguist-vendored
libraries/libffi/autogen.sh linguist-vendored
libraries/libffi/doc/mdate-sh linguist-vendored
libraries/crlibm/gappa/sqrt-proof.sh linguist-vendored
libraries/crlibm/gappa/exp-td/exp-td-proof.sh linguist-vendored
libraries/crlibm/tests/testperfs.sh linguist-vendored
libraries/crlibm/install-sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3/src/sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3/msvcc.sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3/doc/mdate-sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3/install-sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3/ltmain.sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/src/sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/msvcc.sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/doc/mdate-sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/install-sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/aarch64-apple-darwin20.2.0/src/sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/ltmain.sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/src/sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/msvcc.sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/x86_64-apple-darwin20.2.0/src/sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/doc/mdate-sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/install-sh linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/ltmain.sh linguist-vendored
doc/misc/mkpdf.sh linguist-vendored
doc/manual/mkpdf.sh linguist-vendored
doc/manual/mkhtml.sh linguist-vendored
parbuild.sh linguist-vendored
rebuild.sh linguist-vendored
fetchfetch.sh linguist-vendored
contrib/typecheck/types.sh linguist-vendored
contrib/boxdisplay/sml/findreduce.sh linguist-vendored
contrib/boxdisplay/sml/convertTFM.sh linguist-vendored
all-img.sh linguist-vendored
all-exe.sh linguist-vendored
install-sh linguist-vendored
ltmain.sh linguist-vendored
winbuild64/cslbuild.sh linguist-vendored
winbuild64/bootstrapreduce.sh linguist-vendored
winbuild64/cslbuild1.sh linguist-vendored
winbuild64/redpsl64.sh linguist-vendored
winbuild64/redcsl.sh linguist-vendored
winbuild64/csl.sh linguist-vendored
winbuild64/fatbinary.sh linguist-vendored
macbuild/runcsl.sh linguist-vendored
macbuild/runpsl.sh linguist-vendored
macbuild/makedmg.sh linguist-vendored
macbuild/runcsllisp.sh linguist-vendored
macbuild/copyfiles.sh linguist-vendored
macbuild/make-source.sh linguist-vendored
macbuild/runbootstrapreduce.sh linguist-vendored
csl/support-packages/installpatches-1.6.sh linguist-vendored
csl/support-packages/findos.sh linguist-vendored
csl/support-packages/findself.sh linguist-vendored
csl/winbuild/makebin.sh linguist-vendored
csl/winbuild/makereduce.sh linguist-vendored
csl/autogen.sh linguist-vendored
csl/fox/autogen.sh linguist-vendored
csl/fox/install-sh linguist-vendored
csl/new-embedded/for-emscripten/makeall.sh linguist-vendored
csl/new-embedded/for-emscripten/make-crlibm.sh linguist-vendored
csl/new-embedded/for-emscripten/launch_MathLiveTests.sh linguist-vendored
csl/new-embedded/for-emscripten/asyncfuns.sh linguist-vendored
csl/new-embedded/for-emscripten/emflags.sh linguist-vendored
csl/new-embedded/for-emscripten/test1.sh linguist-vendored
csl/new-embedded/for-emscripten/launch.sh linguist-vendored
csl/new-embedded/for-emscripten/testall.sh linguist-vendored
csl/cslbase/fireflysung-1.3.0/license/english linguist-vendored
csl/cslbase/redpsl.sh linguist-vendored
csl/cslbase/profile.sh linguist-vendored
csl/cslbase/foreign.sh linguist-vendored
csl/cslbase/checkall.sh linguist-vendored
csl/cslbase/create_old_bundle.sh linguist-vendored
csl/cslbase/wxfonts/adjustfonts.sh linguist-vendored
csl/cslbase/trydyn.sh linguist-vendored
csl/cslbase/testrest.sh linguist-vendored
csl/cslbase/findos.sh linguist-vendored
csl/cslbase/fatbinary.sh linguist-vendored
csl/cslbase/lispfile.sh linguist-vendored
csl/cslbase/install-sh linguist-vendored
csl/cslbase/testall.sh linguist-vendored
csl/cslbase/testslow.sh linguist-vendored
csl/cslbase/make-static-fontconfig-for-macintosh.sh linguist-vendored
csl/cslbase/create_bundle.sh linguist-vendored
csl/cslbase/ltmain.sh linguist-vendored
csl/cslbase/cfmaster.sh linguist-vendored
csl/cslbase/make-regressions-list.sh linguist-vendored
csl/cslbase/time-arith.sh linguist-vendored
csl/cslbase/make-fox-icons.sh linguist-vendored
generic/newfront/m4/* linguist-vendored
generic/libreduce/src/ac_python_devel.m4 linguist-vendored
scripts/aclocal.m4 linguist-vendored
psl/support-packages/xport-2.05/aclocal.m4 linguist-vendored
psl/aclocal.m4 linguist-vendored
aclocal.m4 linguist-vendored
libraries/libffi/m4 linguist-vendored
libraries/libffi/m4/ax_gcc_archflag.m4 linguist-vendored
libraries/libffi/m4/ax_cc_maxopt.m4 linguist-vendored
libraries/libffi/m4/ax_check_compile_flag.m4 linguist-vendored
libraries/libffi/m4/ltversion.m4 linguist-vendored
libraries/libffi/m4/ax_append_flag.m4 linguist-vendored
libraries/libffi/m4/ltsugar.m4 linguist-vendored
libraries/libffi/m4/ax_cflags_warn_all.m4 linguist-vendored
libraries/libffi/m4/libtool.m4 linguist-vendored
libraries/libffi/m4/asmcfi.m4 linguist-vendored
libraries/libffi/m4/ax_configure_args.m4 linguist-vendored
libraries/libffi/m4/ax_enable_builddir.m4 linguist-vendored
libraries/libffi/m4/ax_gcc_x86_cpuid.m4 linguist-vendored
libraries/libffi/m4/ax_compiler_vendor.m4 linguist-vendored
libraries/libffi/m4/lt~obsolete.m4 linguist-vendored
libraries/libffi/m4/ax_require_defined.m4 linguist-vendored
libraries/libffi/m4/ltoptions.m4 linguist-vendored
libraries/libffi/acinclude.m4 linguist-vendored
libraries/SoftFloat-3a/source/aclocal.m4 linguist-vendored
libraries/crlibm/aclocal.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/m4/ax_gcc_archflag.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/m4/ax_cc_maxopt.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/m4/ax_check_compile_flag.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/m4/ltversion.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/m4/ax_append_flag.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/m4/ltsugar.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/m4/ax_cflags_warn_all.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/m4/libtool.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/m4/asmcfi.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/m4/ax_configure_args.m4
libraries/libffi-for-mac/libffi-3.3/m4/ax_enable_builddir.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/m4/ax_gcc_x86_cpuid.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/m4/ax_compiler_vendor.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/m4/lt~obsolete.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/m4/ax_require_defined.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/m4/ltoptions.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/acinclude.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3/aclocal.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4/ax_gcc_archflag.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4/ax_cc_maxopt.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4/ax_check_compile_flag.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4/ltversion.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4/ax_append_flag.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4/ltsugar.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4/ax_cflags_warn_all.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4/libtool.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4/asmcfi.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4/ax_configure_args.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4/ax_enable_builddir.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4/ax_gcc_x86_cpuid.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4/ax_compiler_vendor.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4/lt~obsolete.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4/ax_require_defined.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/m4/ltoptions.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/acinclude.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-arm64/aclocal.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/* linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/ax_gcc_archflag.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/ax_cc_maxopt.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/ax_check_compile_flag.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/ltversion.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/ax_append_flag.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/ltsugar.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/ax_cflags_warn_all.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/libtool.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/asmcfi.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/ax_configure_args.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/ax_enable_builddir.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/ax_gcc_x86_cpuid.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/ax_compiler_vendor.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/lt~obsolete.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/ax_require_defined.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/m4/ltoptions.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/acinclude.m4 linguist-vendored
libraries/libffi-for-mac/libffi-3.3-x86_64/aclocal.m4 linguist-vendored
libraries/libedit-20140620-3.1/m4 linguist-vendored
libraries/libedit-20140620-3.1/acinclude.m4 linguist-vendored
csl/foxtests/aclocal.m4 linguist-vendored
csl/aclocal.m4 linguist-vendored
csl/fox/m4 linguist-vendored
csl/fox/m4/ltversion.m4 linguist-vendored
csl/fox/m4/ltsugar.m4 linguist-vendored
csl/fox/m4/m4_ax_cxx_compile_stdcxx.m4 linguist-vendored
csl/fox/m4/libtool.m4 linguist-vendored
csl/fox/m4/lt~obsolete.m4 linguist-vendored
csl/fox/m4/ltoptions.m4 linguist-vendored
csl/fox/aclocal.m4 linguist-vendored
csl/cslbase/m4 linguist-vendored
csl/cslbase/m4/ltversion.m4 linguist-vendored
csl/cslbase/m4/ltsugar.m4 linguist-vendored
csl/cslbase/m4/m4_ax_cxx_compile_stdcxx.m4 linguist-vendored
csl/cslbase/m4/libtool.m4 linguist-vendored
csl/cslbase/m4/lt~obsolete.m4 linguist-vendored
csl/cslbase/m4/ltoptions.m4 linguist-vendored
csl/cslbase/aclocal.m4 linguist-vendored
