
# /
/cslbuild
/pslbuild
/config.log
/rebuild.log
/csl-times
/psl-times
/csl-psl-times-comparison
/TAGS
/.gdb_history
/autom4te.cache
/m4

# /common-lisp/
/common-lisp/log.*
/common-lisp/fasl.*
/common-lisp/sl-on-cl.fas
/common-lisp/sl-on-cl.fasl
/common-lisp/trace.fas
/common-lisp/trace.fasl

# /csl/
/csl/autom4te.cache
/csl/compile
/csl/config.guess
/csl/config.sub
/csl/depcomp
/csl/install-sh
/csl/ltmain.sh
/csl/m4
/csl/missing

# /csl/cslbase/
/csl/cslbase/autom4te.cache

# /csl/fox/
/csl/fox/autom4te.cache
/csl/fox/compile
/csl/fox/ltmain.sh

# /csl/new-embedded/for-emscripten/
/csl/new-embedded/for-emscripten/*.oo
/csl/new-embedded/for-emscripten/*.ooo
/csl/new-embedded/for-emscripten/*.tmp
/csl/new-embedded/for-emscripten/*.log

# /debianbuild/
/debianbuild/*.deb
/debianbuild/*.changes
/debianbuild/*.rpm
/debianbuild/*.build
/debianbuild/C
/debianbuild/C.log
/debianbuild/C.stamp

# /debianbuild/reduce/
/debianbuild/reduce/build-stamp
/debianbuild/reduce/configure-stamp
/debianbuild/reduce/install-stamp

# /debianbuild/reduce/debian/
/debianbuild/reduce/debian/tmp
/debianbuild/reduce/debian/files
/debianbuild/reduce/debian/*.debhelper.log
/debianbuild/reduce/debian/*.substvars
/debianbuild/reduce/debian/reduce-csl
/debianbuild/reduce/debian/reduce-psl
/debianbuild/reduce/debian/reduce-addons
/debianbuild/reduce/debian/reduce-common
/debianbuild/reduce/debian/reduce-complete
/debianbuild/reduce/debian/C

# /doc/manual/
/doc/manual/manual.css
/doc/manual/manual.pdf
/doc/manual/*.html
/doc/manual/*.4??
/doc/manual/*x.png
/doc/manual/cmsy*.png
/doc/manual/idxmake.*
/doc/manual/*.aux
/doc/manual/*.toc
/doc/manual/*.idx
/doc/manual/*.ind
/doc/manual/*.ilg
/doc/manual/*.log
/doc/manual/*.out
/doc/manual/*.tmp
/doc/manual/*.lg
/doc/manual/*.idv
/doc/manual/*.xref
/doc/manual/*.dvi
/doc/manual/*.blg
/doc/manual/*.bbl

# /doc/misc/
/doc/misc/*.html
/doc/misc/*.4??
/doc/misc/*x.png
/doc/misc/idxmake.*
/doc/misc/*.aux
/doc/misc/*.toc
/doc/misc/*.idx
/doc/misc/*.ind
/doc/misc/*.ilg
/doc/misc/*.log
/doc/misc/*.out
/doc/misc/*.tmp
/doc/misc/*.lg
/doc/misc/*.idv
/doc/misc/*.xref
/doc/misc/*.dvi
/doc/misc/*.blg
/doc/misc/*.bbl
/doc/misc/primer.pdf
/doc/misc/sl.pdf

# /doc/primers/
/doc/primers/*.idx
/doc/primers/*.log
/doc/primers/*.out

# /generic/newfront/
/generic/newfront/Makefile.in
/generic/newfront/aclocal.m4
/generic/newfront/autom4te.cache
/generic/newfront/compile
/generic/newfront/config.guess
/generic/newfront/config.sub
/generic/newfront/configure
/generic/newfront/depcomp
/generic/newfront/install-sh
/generic/newfront/missing
/generic/newfront/ltmain.sh

# /generic/newfront/m4/
/generic/newfront/m4/libtool.m4
/generic/newfront/m4/ltoptions.m4
/generic/newfront/m4/ltsugar.m4
/generic/newfront/m4/ltversion.m4
/generic/newfront/m4/lt~obsolete.m4
