//
// Resource file for CWIN.                Copyright (C) Codemist, 1994-2016
//                                        A C Norman
//


CWIN              ICON csl.ico         // Used in "ABOUT" dialog box and
                                       // when window is minimised

#include "cwin.rc"

// End of csl.rc

