//
// Resource file for CWIN.                Copyright (C) Codemist Ltd, 1995-6
//                                        A C Norman
//


CWIN              ICON r36.ico         // Used in "ABOUT" dialog box and
                                       // when window is minimised

#include "cwin.rc"

// End of r36.rc


