Source: reduce-addons
Section: math
Priority: optional
Maintainer: REDUCE Developers <reduce-algebra-developers@lists.sourceforge.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://reduce-algebra.sf.net/

Package: reduce-addons
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Useful addons for the REDUCE Computer Algebra System
 This include:
   reduce-mode, an emacs mode
   redfront, a frontend with line editing an color output
   breduce, a REDUCE batch processing utility

