Source: reduce
Section: math
Priority: optional
Maintainer: REDUCE Developers <reduce-algebra-developers@lists.sourceforge.net>
Build-Depends: autoconf, dvipng, libffi-dev, libncurses5-dev, libtool-bin, libx11-dev, libxext-dev, libxft-dev, texlive-latex-base, texlive-fonts-extra, texlive-latex-recommended, texlive-fonts-recommended, tex4ht, debhelper (>= 9)
Standards-Version: 3.9.1
Homepage: https://reduce-algebra.sourceforge.io/

Package: reduce-complete
Architecture: i386 amd64 arm arm64 riscv64
Depends: gnuplot-x11 | gnuplot-qt, ${shlibs:Depends}, ${misc:Depends}
Conflicts: reduce-common, reduce-csl, reduce-psl, reduce-addons
Description: REDUCE Computer Algebra System
 REDUCE is a system for doing scalar, vector and matrix algebra by computer,
 which also supports arbitrary precision numerical approximation and
 interfaces to gnuplot to provide graphics. It can be used interactively
 for simple calculations (as illustrated in the screenshot above) but also
 provides a full programming language, with a syntax similar to other
 modern programming languages.
 .
 This package contains the complete set of files for CSL and PSL Reduce.

