//
// Resource file for CWIN.                Copyright (C) Codemist Ltd, 1995-9
//                                        A C Norman
//


CWIN              ICON r37.ico         // Used in "ABOUT" dialog box and
                                       // when window is minimised

#include "cwin.rc"

// End of r37.rc


